<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, minimum-scale=1.0">
        <title>{% block title %}{% endblock %} :: MelbDjango</title>

        <link href="//fonts.googleapis.com/css?family=Bree+Serif" rel="stylesheet" type="text/css">
        <link href="//fonts.googleapis.com/css?family=Ledger" rel="stylesheet" type="text/css">
        <link href="{{ STATIC_URL }}css/style.min.css" rel="stylesheet" type="text/css">

        {% block extra_head %}{% endblock %}
    </head>
    <body>

        <div class="page-container">

            <section class="page-header">
                <header>
                    <h1 class="page-header__logo">MelbDjango</h1>
                    <nav>
                        <ul>
                            <li><a href="/posts/">Posts</a></li>
                            <li><a href="/hacks/">Hacks</a></li>
                            {# <li><a href="/events/">Events</a></li> #}
                        </ul>
                    </nav>
                </header>
            </section>

            <section class="page-body">
                {% block content %}{% endblock %}
            </section>

            <section class="page-footer">
                <p>MelbDjango 2014</p>
            </section>

        </div>
    </body>
</html>
